:root{
    --oro:#B88940;
    --ama: #FFBD59;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.parent{
    position:relative;
}
.child{
    width: 100vw;
    height: 100vh;
    background-size:contain;
    background-repeat:no-repeat;
    background-image: url(/hack_4/hack_4.png);
    background-position: center center;
    z-index: -1;
    /* z-index: 3; */
    position: absolute;
    border: 1px solid;
    opacity: 0.0;
    /* opacity: 1; */
    
}

.fw-400{
    font-weight: 400;
}
.fw-600{

    font-weight: 600;
}
.fw-800{

    font-weight: 800;
}

.ruda {
  font-family: "Ruda", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.catamaran {
  font-family: "Catamaran", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.open-sans-800 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/*  */
.cont{
    padding-block: 53px;
    padding-bottom: 0;
    height: 100%;
    margin: 0 auto;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.divider{
    border: 1px solid black;
    width: 55px;
    height: 5px;
    border-radius: 5px;
    background-color: black;
}
.endof{
    text-transform: uppercase;
    letter-spacing: 1.4px;
    word-spacing: 6px;
    font-size: 18px;

    margin-top: 22px;
    color: black;
}

.sale{
    text-transform: uppercase;
    color: var(--oro);
    font-size: 75px;
    letter-spacing: 14px;
    transform: translate(8px);
    margin-top:-8px;
    text-align: center;
}
.discount{
    text-transform: uppercase;
    font-size: 36px;
}
.desc{
    font-size: 18px;
    letter-spacing: 1.75px;
    /* word-spacing: 2px; */
    font-weight: 700;
    margin-top: 10px;
}
.gallery-cont{
    position: relative;
    display: flex;
    justify-content: center;
    width: 46.5vw;
    margin-top: 85px;
    height: fit-content;
    & .stripes-cont{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: -1;
    }
    & .stripes{
        height: 19px;
        width: 100%;
    }
    & .stripes:nth-child(even){
        background-color: var(--ama);
    }
    & .gallery{
        display: flex;
        transform: translate(2px);

    }
    & img{
        height: 189px;
        width: 127px;
        margin-right: 6px;
        object-fit: cover;
    }
    
     & p{
        text-align: center;
        font-weight: 700;
        font-size: 16px;
        margin:0;
        padding: 0;
        margin-top: -2px;
     }

}

.fashion{
    margin-top: 90px;
    text-transform: uppercase;
    color: var(--oro);
    font-size: 30px;
    letter-spacing: 0.4px;
    word-spacing: 4px;
    transform: translate(-3px);
}
.sub-fashion{
    font-weight: 700;
    margin-top: -11px;
    word-spacing: 2px;
    transform: translate(-2.5px);
}