@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Arimo", sans-serif;
    border-radius: none;
}
:root{
    --circulo:#7ED957;
    --lineas-imagen:#00BF63;
    --footer:#00BF63;
    --footer-text:#EEEEEE;
}
header{
 max-width: 100vw;
 min-height: 20vh;
    & ul{
        display: flex;
        place-content: space-evenly;
        list-style: none;
        max-width: 100vw;
        min-height: 20vh;
        & li {
            margin: auto auto;
            position: relative;
        }
        & li:nth-child(1){
            text-transform: uppercase;
            font-size: 20px;
        }
        & li:nth-child(1)::before{
            position: absolute;
            content: ".";
            top: -1px;
            left:-40px;
            max-width: 100vw;
            min-width: 4vh;
            font-size: 20px;
            background: var(--circulo);
            opacity: 0.5;
            z-index: -1;
            border-radius: 60%; 
        }
        @media screen and (max-width: 375px) {
            & li:nth-child(1)::before{
                top: -3px;
                left: -30px;
                font-size:5px;
                height:30px;
                width:30px
            }
        }
        & li:nth-child(2){
            font-size: 14px;
            text-transform: uppercase;
        }
    }
}
section{
    max-width: 100em;
    min-height: 20em;
    position: relative;
    .contenedor{
        display: flex;
        flex-wrap: wrap;
        max-width: 100vw;
        min-height: 75vh;
        background: url("../img/2.png") center center no-repeat;
        background-size: cover;
        position: relative;
    }
    & div[name="1"]{
        content:"";
        position: absolute;
        color: white;
        background: var(--lineas-imagen);
        width: 21%;
        height: 40px;
        top:7.2em;
        font-size: 25px;
        left:0;
        & p{
            position: absolute;
            height: 40px;
            font-size: 30px;
            left: 2em;
            text-transform:uppercase;
        }
    }
    & div[name*="2"]{
        content: "";
        position: absolute;
        color: white;
        background: var(--lineas-imagen);
        width: 40%;
        height: 40px;
        top:14em;
        left:0;
        & p{
            position: absolute;
            height: 40px;
            font-size: 30px;
            left: 2em;
            text-transform:uppercase;
        }
    }
    & div[name*="3"]{
        content: "";
        position: absolute;
        color: white;
        background: var(--lineas-imagen);
        width: 40%;
        height: 40px;
        top:16.8em;
        left:0;
        & p{
            position: absolute;
            height: 40px;
            font-size: 30px;
            left: 2em;
            text-transform:uppercase;

        }
    }
    & div[name*="4"]{
        content: "";
        position: absolute;
        color: white;
        background: black;
        width: 40%;
        height: 40px;
        top:22.3em;
        left:0;
        & p{
            position: absolute;
            height: 40px;
            font-size: 20px;
            top: 0.4em;
            left: 2em;
        }
    }
    & div[name*="5"]{
        content: "";
        position: absolute;
        color: white;
        background: black;
        width: 30%;
        height: 40px;
        top:25.1em;
        left:0;
        & p{
            position: absolute;
            height: 40px;
            font-size: 20px;
            top: 0.4em;
            left: 2em;
        }
    }
    & div:nth-child(n){
        margin:10px;
    }
    /* ! FINAL DEL HEADER */

    /* TODO COMIENZO DEL ARTICLE */
    .contenedor2{
        margin: 50px;
        & h2{
            display: flex;
            flex-wrap: wrap;
            text-transform: uppercase;
        }
        & div[name*="principal"]{
            display: flex;
            place-content: center;
            place-items: center;
            flex-wrap: wrap;
            position: relative;
            & b:nth-child(n){
                text-transform: uppercase;
                text-align: center;
            }
            & div:nth-child(3){
                display: flex;
                flex-direction: column;
                place-content: center;
                place-items: center;
                flex:1;
                & img{
                    margin: 10px;
                }
            }
            & div:nth-child(1){
                display: flex;
                flex-direction: column;
                place-content: center;
                place-items: center;
                flex:1;
                & img{
                    margin: 10px;
                }
        }
            & div:nth-child(2){
                display: flex;
                flex-direction: column;
                place-content: center;
                place-items: center;
                flex:1;
                margin-top: 30px;
                & img{
                    width: 13em;
                }
            }
        
        }
    }
}
/* TODO COMIENZO DEL FOOTER */
footer{
    margin: 10px;
    & ul{
        display: flex;
        flex-wrap: wrap;
        place-content: center;
        gap: 30px;
        place-items:center;
        max-width: 100vw;
        min-height: 10vh;
        background: var(--footer);
        & li{
            color: #fff;
            list-style: none;
            letter-spacing: 3px;
        }
    }
}
/* ! COMIENZO DEL RESPONSIVE */
@media screen and (max-width: 425px){
    & section{
        & article{
            & div:nth-child(n){
                width: 60vw;
                margin: auto;
                text-align: center;
               & p{
                font-size: 13px;
                display: flex;
                place-content: center;
                place-items: center;
                top: 2px;
                letter-spacing: 2px;
                }
            }
        }
    }
}
@media screen and (max-width: 425px){
    .contenedor{
        & div:nth-child(1),
        & div:nth-child(2),
        & div:nth-child(3),
        & div:nth-child(4),
        & div:nth-child(5){
            left: 90px;
        }
    }
}
@media screen and (max-width: 375px){
    .contenedor2{
        .h2, .titulos{
            text-align: center;
        }
    }
}
@media screen and (max-width: 320px) {
    .contenedor{
        & div:nth-child(1),
        & div:nth-child(2),
        & div:nth-child(3),
        & div:nth-child(4),
        & div:nth-child(5){
            left: 65px;
        }
    }
    .contenedor2{
        .h2, .titulos{
            text-align: center;
        }
    }
}