:root{
    --bg-blue: #93B5C9;
    --bg-wine:#AB2849;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.parent{
    position:relative;
}
.child{
    width: 100vw;
    height: 100vh;
    background-size:contain;
    background-repeat:no-repeat;
    background-image: url(/hack_2/hack_2.png);
    background-position: center center;
    z-index: 3;
    position: absolute;
    border: 1px solid;
    opacity: 0.4;
    
}
/*tips*/
.cont{
    width: 49%;
    height: 100%;
    margin: 0 auto;
    z-index: 2;

}
.el{
    background-color: var(--bg-wine);
}
.el-sm{
    width: 72%;
    float: left;
    margin-bottom: 15px;
    height: 86px;

}
.el1{
    height: 106px;
    background-color: var(--bg-blue);
}
.el2{
    height: 180px;
    margin-bottom: 13px;
}
.el3{
    height: 87px;
    margin-bottom: 16px;
}
.el6{
    margin-bottom: 12px;
}
.el7{
    clear: both;
    height: 62px;
    width: 94%;
    margin: 0 auto;
}