
:root{
    --bg-blue: #93B5C9;
    --bg-wine:#AB2849;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.parent{
    position:relative;
}
.child{
    width: 100vw;
    height: 100vh;
    background-size:contain;
    background-repeat:no-repeat;
    background-image: url(/hack_3/hack_3.png);
    background-position: center center;
    z-index: 3;
    position: absolute;
    opacity: 0.2;
    
}
/*tips*/
.cont{
    width: 49%;
    height: 100%;
    margin: 0 auto;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.elemento{
    background-color: var(--bg-wine);
}
.elemento-sm{
    width: 75.5%;
    /* float: left; */
    margin-bottom: 15px;
    height: 86px;

}
.elemento1{
    height: 106px;
    background-color: var(--bg-blue);
    width: 100%;
}
.elemento2{
    height: 180px;
    margin-bottom: 13px;
    flex-grow: 1;
    width: 100%;

}
.elemento3{
    height: 87px;
    margin-bottom: 16px;
}
.elemento5{
    margin-bottom: 12px;;
}
.elemento4, .elemento6{
    background-color: transparent;
    display: flex;
    gap: 4px;

    & .child-elemento{
        width: 50%;

    }
}
.elemento6{
    margin-bottom: 15px;
}
.elemento7{
    height: 62px;
    width: 100%;
}